.crash{
    overflow-x: hidden;
    &__title{
        position: relative;
        font-family: OxaniumSBold;
        font-size: 60px;
        color: #FFFFFF;
        margin-top: 67px;
        &_user{
            position: relative;
            font-family: OxaniumSBold;
            font-size: 60px;
            color: #FFFFFF;
            &::after{
                content: '';
                display: inline-block;
                width: 639px;
                height: 1px;
                background: #DB442A;
                position: absolute;
                display: block;
                top: 0;
                left: 570px;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &::after{
            content: '';
            display: inline-block;
            width: 746px;
            height: 1px;
            background: #DB442A;
            position: absolute;
            display: block;
            top: 0;
            left: 270px;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
.users{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 87px;
    margin-top: 25px;
}



/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .crash{
        &__title{
            &::after{
                display: none ;
            }
            &_user{
                &::after{
                    display: none ;
                }
            }
        }
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .crash{
        &__title{
            &::after{
                display: none ;
            }
            &_user{
                &::after{
                    display: none ;
                }
            }
        }
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .crash{
        margin-top: 100px;
        &__title{
            font-size: 30px;
            &::after{
                display: none ;
            }
            &_user{
                font-size: 30px;
                margin-top: 30px;
                &::after{
                    display: none ;
                }
            }
        }
    }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    .crash{
        margin-top: 100px;
        &__title{
            &::after{
                display: none ;
            }
            &_user{
                &::after{
                    display: none ;
                }
            }
        }
    }
    .users{
        gap: 6px !important;
    }
}