@font-face {
    font-family: OxaniumLight;
    src: url('../../assets/fonts/Oxanium-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OxaniumXLight;
    src:  url('../../assets/fonts/Oxanium-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OxaniumSBold;
    src:  url('../../assets/fonts/Oxanium-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OxaniumBold;
    src: url('../../assets/fonts/Oxanium-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OxaniumXBold;
    src: url('../../assets/fonts/Oxanium-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OxaniumMedium;
    src: url('../../assets/fonts/Oxanium-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Oxanium;
    src: url('../../assets/fonts/Oxanium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: OxaniumC;
    src: url('../../assets/fonts/Oxanium-C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: Oxanium;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
html {
    -webkit-text-size-adjust: none;
}


@media (max-width: 480px) {
    .container{
        padding: 0 20px !important;
    }
}