.statistic{
    width: 100%;
    height: 260px;
    margin-top: 71px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    &__info{
        width: 139px;
        height: 95px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:10px 0 10px 20px;
        
    }
    &__time{
        width: 780px;
        height: 115px;
        border-radius: 0px 20px 20px 0px;
        background: #3A1F20;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        grid-area: 1 / 1 / 2 / 4;
        &::before{
            content: '';
            position:absolute;
            display: inline-block;
            width: 7px;
            height: 115px;
            background: #DB442A;
            border-radius: 100px;
        }
        
        &Title{
            font-family: OxaniumMedium;
            font-size: 20px;
            color: #FFFFFF;
            margin-top: 3px;
        }
        &Count{
            font-family: OxaniumBold;
            font-size: 30px;
            color: #FFFFFF;
            margin-top: 5px;
        }
        &Date{
            font-family: OxaniumMedium;
            font-size: 16px;
            color: #959595;
            margin-top: 7px;
        }
        &Graphic{
            width: 573px;
            height: 95px;
            background-image: url('../../../assets/icon/graphic.png');
            background-repeat: no-repeat;
            align-self: flex-end;
            margin-left: 48px;
        }
    }
    &__earn{
        width: 390px;
        height: 115px;
        border-radius: 0px 20px 20px 0px;
        background: #0D210F;
        grid-area: 1 / 4 / 2 / 6;
        &::before{
            content: '';
            position: absolute;
            display: inline-block;
            width: 7px;
            height: 115px;
            background: #00FF1A;
            border-radius: 100px;
        }
        &Title{
            font-family: OxaniumMedium;
            font-size: 20px;
            color: #FFFFFF;
            margin-left: 20px;
            padding-top: 10px;
        }
        &Sum{
            font-family: OxaniumBold;
            font-size: 30px;
            color: #FFFFFF;
            margin-left: 20px;
            margin-top: 12px;
            &::before{
                content: 'Sum:';
                display: block;
                font-family: OxaniumMedium;
                font-size: 16px;
                color: #959595;
            }
        }
    }
    &__victory{
        width: 240px;
        height: 115px;
        background: #201E20;
        border-radius: 0px 20px 20px 0px;
        grid-area: 2 / 1 / 3 / 2;
        &::before{
            content: '';
            position: absolute;
            display: inline-block;
            width: 7px;
            height: 115px;
            background: #767577;
            border-radius: 100px;
        }
        &Title{
            font-family: OxaniumMedium;
            font-size: 20px;
            color: #FFFFFF;
            margin-left: 20px;
            padding-top: 10px;
        }
        &Sum{
            font-family: OxaniumBold;
            font-size: 30px;
            color: #FFFFFF;
            margin-left: 20px;
            margin-top: 5px;
        }
        &Descr{
            font-family: OxaniumMedium;
            font-size: 16px;
            color: #959595;
            margin-left: 20px;
            margin-top: 7px;
        }
    }
    &__lose{
        width: 240px;
        height: 115px;
        background: #201E20;
        border-radius: 0px 20px 20px 0px;
        grid-area: 2 / 2 / 3 / 2;
        &::before{
            content: '';
            position: absolute;
            display: inline-block;
            width: 7px;
            height: 115px;
            background: #767577;
            border-radius: 100px;
        }
        &Title{
            font-family: OxaniumMedium;
            font-size: 20px;
            color: #FFFFFF;
            margin-left: 20px;
            padding-top: 10px;
        }
        &Sum{
            font-family: OxaniumBold;
            font-size: 30px;
            color: #FFFFFF;
            margin-left: 20px;
            margin-top: 5px;
        }
        &Descr{
            font-family: OxaniumMedium;
            font-size: 16px;
            color: #959595;
            margin-left: 20px;
            margin-top: 7px;
        }
    }
    &__exp{
        width: 240px;
        height: 115px;
        background: #201E20;
        border-radius: 0px 20px 20px 0px;
        grid-area: 2 / 3 / 3 / 3;
        &::before{
            content: '';
            position: absolute;
            display: inline-block;
            width: 7px;
            height: 115px;
            background: #767577;
            border-radius: 100px;
        }
        &Title{
            font-family: OxaniumMedium;
            font-size: 20px;
            color: #FFFFFF;
            margin-left: 20px;
            padding-top: 10px;
        }
        &Sum{
            font-family: OxaniumBold;
            font-size: 30px;
            color: #FFFFFF;
            margin-left: 20px;
            margin-top: 5px;
        }
        &Descr{
            font-family: OxaniumMedium;
            font-size: 16px;
            color: #959595;
            margin-left: 20px;
            margin-top: 7px;
        }
    }
}





/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .statistic{
        margin: 50px 0;
        height: 400px;
        &__time{
            grid-area: 1 / 1 / 2 / 5;
        }
        &__earn{
            grid-area: 2 / 3 / 3 / 3;
            width: 240px;
        }
        &__victory{
            grid-area: 2 / 1 / 3 / 3;
        }
        &__lose{
            grid-area: 3 / 1 / 4 / 3;
        }
        &__exp{
            grid-area: 3 / 3 / 4 / 5;
        }
    }

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .statistic{
        margin: 50px 0;
        height: 400px;
        &__time{
            grid-area: 1 / 1 / 2 / 5;
            width: 720px;
        }
        &__earn{
            grid-area: 2 / 3 / 3 / 3;
            margin-left: 0px;
            width: 240px;
        }
        &__victory{
            grid-area: 2 / 1 / 3 / 3;
        }
        &__lose{
            grid-area: 3 / 1 / 4 / 3;
        }
        &__exp{
            grid-area: 3 / 3 / 4 / 5;
        }
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .statistic{
        width: 482px;
        margin: 50px 0;
        height: 400px;
        gap: 15px;
        &__time{
            grid-area: 1 / 1 / 2 / 5;
            width: 430px;
            &Count{
                font-size: 20px;
            }
        }
        &__earn{
            grid-area: 2 / 3 / 3 / 3;
            margin-left: 0px;
            width: 200px;
            margin-left: 150px;
        }
        &__victory{
            grid-area: 2 / 1 / 3 / 3;
            width: 200px;
        }
        &__lose{
            grid-area: 3 / 1 / 4 / 3;
            width: 200px;
        }
        &__exp{
            grid-area: 3 / 3 / 4 / 5;
            width: 200px;
            margin-left: 150px;
        }
    }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    .statistic{
        width: 486px;
        margin: 50px 0;
        height: 400px;
        gap: 5px;
        &__time{
            grid-area: 1 / 1 / 2 / 5;
            width: 360px;
            &Graphic{
                margin-left: 10px;
            }
            &Count{
                font-size: 20px;
            }
        }
        &__earn{
            grid-area: 2 / 3 / 3 / 3;
            width: 155px;
            margin-left: -10px;
            position: relative;
            left: 50px;
            &Sum{
                font-size: 20px;
            }
        }
        &__victory{
            grid-area: 2 / 1 / 3 / 3;
            width: 180px;
            &Descr{
                font-size: 12px;
            }
        }
        &__lose{
            grid-area: 3 / 1 / 4 / 3;
            width: 180px;
            &Descr{
                font-size: 12px;
            }
        }
        &__exp{
            grid-area: 3 / 3 / 4 / 5;
            width: 155px;
            margin-left: -10px;
            position: relative;
            left: 50px;
            &Sum{
                font-size: 20px;
            }
        }
    }
}
