.referal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    &__level{
        grid-area: 1 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 217px;
        height: 280px;
        background: #201E1E;
        box-shadow: 4px 4px 10px #FF0000;
        border-radius: 20px;
        &Num{
            width: 82px;
            height: 82px;
            border: 9px solid #C23D26;
            border-radius: 100%;
            padding: 6px 18px;
            font-family: OxaniumSBold;
            font-size: 50px;
            color: #FFFFFF;
        }
        &Title{
            width: 95px;
            height: 25px;
            font-family: OxaniumSBold;
            font-size: 20px;
            color: #FFFFFF;
            margin-top: 10px;
        }
        &Balance{
            width: 116px;
            height: 20px;
            font-family: OxaniumMedium;
            font-size: 16px;
            color: #FFFFFF;
            margin-top: 30px;
        }
        &Descr{
            font-family: OxaniumMedium;
            width: 164px;
            height: 20px;
            font-size: 16px;
            color: #FFFFFF;
            margin-top: 5px;
        }
    }
    &__link{
        grid-area: 1 / 2 / 2 / 6;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        width: 963px;
        height: 150px;
        background: #201E1E;
        box-shadow: 4px 4px 10px #FF0000;
        border-radius: 20px;
        &Title{
            width: 341px;
            height: 25px;
            font-family: 'Oxanium';
            font-size: 20px;
            color: #FFFFFF;
        }
        &Main{
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            width: 745px;
            height: 65px;
            background: #2F2C2C;
            border: 1px solid #BABABA;
            border-radius: 10px;
            border-style: none;
            padding: 10px 20px;
            &Content{
                display: flex;
                flex-direction: column;

            }
            &Link{
                position: relative;
                font-family: OxaniumSBold;
                font-size: 20px;
                color: #FFFFFF;
            }
            &Descr{
                font-family: OxaniumMedium;
                font-size: 16px;
                color: #FFFFFF;
            }
            & img{
                width: 23px;
                height: 23px;
                margin-top: 11px; 
                &:nth-of-type(2){
                    margin-left: 369px;
                }
            }
        }
        &User{
            margin-left: 68px;
            & img{
                height: 100px;
                width: 100px;
            }
        }
    }
    &__info{
        grid-area: 2 / 2 / 3 / 6;
        display: flex;
        justify-content: flex-start;
        &Item{
            display: flex;
            justify-content: flex-start;
            gap: 8px;
            width: 307px;
            height: 110px;
            background: #201E1E;
            box-shadow: 4px 4px 10px #FF0000;
            border-radius: 20px;
            margin-left: 20px;
            padding: 30px 20px;
            &:nth-child(1){
                margin-left: 0;
            }
            & img{
                width: 50px;
                height: 50px;
            }
        }
        &Count{
            font-family: OxaniumSBold;
            font-size: 20px;
            color: #FFFFFF;
        }
        &Descr{
            font-family: OxaniumMedium;
            font-size: 16px;
            color: #FFFFFF;
        }
        &Balance{
            & img{
                width: 30px;
                height: 30px;
                margin-top: 7px;
            }
            &Button{
                cursor: pointer;
                height: 53px;
                left: 1324px;
                background: linear-gradient(90deg, #FE573A 0%, #E2271E 100%);
                border-radius: 100px;
                font-family: OxaniumSBold;
                font-size: 16px;
                color: #FFFFFF;
                padding: 18px 15px;
                &:hover{
                    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
                }
            }
        }
    }
    .ref__title{
        width: 678px;
        &::after{
            width: 512px;
            left: 600px;
        }
    }
}

.ref__levels{
    max-width: 1200px;
    height: 490px;
    background: #201E1E;
    box-shadow: 4px 4px 10px #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    &Header{
        display: flex;
        justify-content: space-between;
        &Descr{
            font-family: OxaniumSBold;
            font-size: 20px;
            color: #FFFFFF;
        }
        &Left{
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }
        &Right{
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }
    }
    &Content{
        margin-top: 20px;
        &Item{
            margin-top: 20px;
            padding: 7px 20px;
            width: 1160px;
            height: 65px;
            background: #2F2C2C;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            &Num{
                height: 50px;
                width: 50px;
                padding: 13px 19px;
                background: #201E1E;
                border: 1px dashed #FFFFFF;
                border-radius: 100px;
                font-family: OxaniumSBold;
                font-size: 20px;
                color: #FFFFFF;
            }
            &Money{
                font-family: OxaniumSBold;
                font-size: 20px;
                color: #FFFFFF;
                margin-right: 456px;
                align-self: center;
                margin-left: -100px;
                
            }
            &Percent{
                font-family: OxaniumSBold;
                font-size: 20px;
                color: #FFFFFF;
                // margin-left: 520px;
                align-self: center;
            }
            &Deposite{
                font-family: OxaniumSBold;
                font-size: 20px;
                color: #FFFFFF;
                // margin-left: 273px;
                align-self: center;
            }
        }
    }
}

.ref__users{
    width: 1200px;
    height: 250px;
    background: #201E1E;
    box-shadow: 4px 4px 10px #FFFFFF;
    border-radius: 30px;
}